/*=== Global ===*/
:root {
  --cor-principal: #afc67b;
}
* {
  margin: 0;
  padding: 0;
  font-weight: normal;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat";
}
/*=== BGroup1 ===*/
.container-bg1 {
  background: url("/img/bg1.png") no-repeat;
  max-width: 1440px;
  max-height: 1000px;
}

.menu-bg1 {
  padding-top: 62px;
  padding-right: 50px;
}
.menu-bg1 li a {
  color: var(--cor-principal);
  padding-right: 30px;
  text-decoration: none;
  font-size: 2.185em;
}

.menu-bg1 ul {
  display: flex;
  justify-content: flex-end;
}

.menu-bg1 ul li:nth-child(1) {
  padding-right: 50px;
}

.content-bg1 {
  padding-right: 105px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 72px 109px 237px 0;
}

.content-bg1 img {
  max-width: 141px;
  max-height: 121px;
  position: relative;
  right: 20%;
}

.content-bg1 h1 {
  font-size: 3.5em;
  padding-top: 104px;
  padding-bottom: 150px;
  color: var(--cor-principal);
}
.btn {
  background: rgba(155, 175, 109, 0.5);
  border: none;
}
.content-bg1 button a {
  font-size: 3.5em;
  padding: 29px;
  text-decoration: none;
  color: var(--cor-principal);
}
.mod01 {
  font-weight: bold;
}

/*=== BGroup2 ===*/

.container-bg2 {
  background: url(/img/img-bg2.png) no-repeat right;
  background-color: #212121;
}
.content-bg2 {
  padding: 163px 0 179px 100px;
  max-width: 530px;
}
.content-bg2 h1 {
  font-size: 1.8125em;
  color: var(--cor-principal);
  font-family: GoodDog Cool;
}

.content-bg2 p {
  color: #fff;
  font-size: 1.1em;
  line-height: 1.1875;
  padding-top: 50px;
}

/*=== BGroup3 ===*/

.container-bg3 {
  max-width: 1440px;
  background: #45493b;
}

.content-bg3 {
  padding: 95px 165px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
}

.img-bg3 {
  margin: 0 auto;
  padding-bottom: 25px;
}

.items-bg3 h1 {
  font-size: 1.56em;
  line-height: 2em;
  font-family: GoodDog Cool;
  padding-bottom: 40px;
}

.items-bg3 p {
  line-height: 1.56em;
}

/*=== BGroup4 ===*/

.itemP4 {
  background: #45493b;
  grid-area: 1 / 1 / 2 / 5;
  text-align: center;
}
.itemP4 h1 {
  background: #45493b;
  padding-top: 65px;
  font-size: 2.5em;
  color: white;
  font-weight: normal;
}
.title-bg4 {
  font-family: GoodDog Cool;
  color: #afc67b;
  font-weight: bold;
}
.bg4 {
  max-width: 1440px;
  background: #252525;
}
.container-bg4 {
  display: grid;
  padding: 91px 135px;
  grid-template-columns: 272px 272px 272px 272px;
  grid-template-rows: 207px 271px 271px 271px;
}

.content-bg4 {
  background: lightgrey;
  text-align: center;
  padding: 30px 58px 62px 59px;
  background: #494d3f;
}
.content-bg4 h3 {
  color: #afc67b;
  font-family: GoodDog Cool;
  font-size: 1.875em;
  padding-bottom: 27px;
}
.content-bg4 p {
  color: #fff;
  font-size: 1em;
}

.content-bg4 p:nth-child(3) {
  padding-top: 10px;
}

/*=== Bgroup5 ===*/

.container-bg5 {
  background: #3e4136;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-bg5 h1 {
  font-size: 1.8125em;
  color: var(--cor-principal);
  font-family: GoodDog Cool;
  padding-top: 115px;
  padding-bottom: 40px;
}

.container-bg5 p {
  color: #fff;
  font-size: 1.25em;
  line-height: 1.1875;
  max-width: 690px;
  padding-bottom: 50px;
}
.img-bg5 {
  padding-bottom: 92px;
}

/* ===BG 6=== */

.container-bg6 {
  background: url(/img/bg6.png) no-repeat;
  max-width: 1440px;
  padding-top: 240px;
  padding-bottom: 700px;
}
.content-bg6 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  color: #fff;
  background: #42453a;
  padding: 0 145px 140px 60px;
  column-gap: 300px;
}

.title-bg6 {
  grid-area: 1 / 1 / 2 / 3;
  text-align: center;
  font-size: 2.875em;
  padding-top: 45px;
  text-transform: uppercase;
}

.item-bg6 {
  font-family: GoodDog Cool;
  text-transform: none;
}

.items-bg6 {
  display: grid;
  grid-template-columns: 84px 335px;
  grid-template-rows: 1fr 1fr;
}

.items-bg6 img {
  grid-area: 1/1/2/2;
  position: relative;
  top: 20px;
}
.items-bg6 h1 {
  grid-area: 1/2/2/3;
  font-size: 1.156em;
  font-family: GoodDog Cool;
}
.items-bg6 p {
  grid-area: 2/2/3/3;
}

/* === BG7 === */

.bg7 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  text-align: center;
  background: #212121;
  color: #fff;
  min-height: 450px;
}
.form1-bg7,
.form2-bg7,
.form3-bg7 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.content-bg7 {
  margin: 20px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.form1-bg7 input,
.form2-bg7 input,
.form3-bg7 input,
.form1-bg7 select {
  width: 240px;
  background: #212121;
  color: white;
  text-align: center;
  border-radius: 4px;
}

.bg7 h1 {
  font-family: GoodDog Cool;
  font-size: 4.8125em;
  padding-top: 45px;
  padding-bottom: 35px;
}
.form1-bg7 label,
.form2-bg7 label,
.form3-bg7 label {
  font-weight: bold;
  padding-bottom: 10px;
}

.form1 button a {
  text-decoration: none;
  color: #fff;
  background-color: #212121;
  padding: 8px 80px;
  border-radius: 4px;
  border: 1px solid #fff;
}

.form button {
  padding: 58px 0 70px 0;
}

/* === BG8 === */

.bg8 {
  background: url(/img/bg8.png) no-repeat;
  background-size: auto;
  height: 865px;
  background-position: center center;
}

/* === BG9 === */
.bg9 {
  background: #383b32;
}
.bg9 h1,
.bg9 h2 {
  text-align: center;
}
.bg9 h1 {
  color: afc67b;
  font-family: GoodDog Cool;
  font-size: 4.8125em;
  color: #afc67b;
}
.bg9 h2 {
  color: #fff;
  font-size: 2.93em;
  padding-bottom: 55px;
}
.container-bg9 {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 125px;
}
.content-bg9 {
  background-color: #e7e7e7;
  width: 339px;
  margin-right: 35px;
  padding-bottom: 26px;
}
.content-bg9 h4 {
  font-size: 0.8em;
  padding-bottom: 10px;
  font-weight: bold;
}
.content-bg9 h3 {
  font-weight: bold;
}
.content-bg9 img {
  height: 301px;
  width: 339px;
}

.item-bg9 {
  color: #525151;
  padding-left: 25px;
}
.item-bg9 p {
  padding-bottom: 30px;
}

.item-bg9 a {
  text-decoration: none;
  color: #525151;
  border-bottom: 7px solid #afc67b;
}

/* === BG10 === */

.bg10 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background: #212121;
  color: #afc67b;
}

.container-bg10 {
  width: 690px;
  text-align: center;
}
.container-bg10 h5 {
  font-size: 1.8125em;
  font-family: GoodDog Cool;
  line-height: 2em;
  font-weight: bold;
  letter-spacing: 0.05em;
}

.article {
  font-size: 1.1875em;
}
.quote {
  font-size: 5.1875em;
  font-family: GoodDog Cool;
}

.img-bg10 {
  padding: 37px 0 46px 0;
}

.img-bg10 img {
  padding-right: 23px;
}
/* === FOOTER === */

.footer {
  display: flex;
  color: #fff;
  background: #373a33;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.footer ul {
  display: flex;
  list-style: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content-bg11 {
  width: 550px;
  padding-right: 200px;
}

.content-bg11 h1 {
  font-size: 1.5625em;
  line-height: 2.06em;
  padding-bottom: 50px;
  text-transform: uppercase;
  padding-top: 68px;
  text-align: center;
}

.content-bg11 p {
  font-size: 15px;
  line-height: 29px;
  padding-bottom: 105px;
}

.footer ul {
  padding-right: 100px;
}
.footer ul li {
  padding-bottom: 10px;
}

.footer ul li:first-child {
  text-transform: uppercase;
  font-weight: bold;
  padding-bottom: 55px;
}
